.App {
  text-align: center;
}
body{
  background-image: url(../smurfsthelostvillage_banner_2572x1100_copyright.png);
  background-size: cover;
}
.App{
  background-color: aliceblue;
  width:60%;
  margin:0 auto;
}